/*--- RESET ---*/
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

/*--- Style Challenge ---*/
body {
  background-color: hsl(257, 40%, 49%);
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  background-image: url(images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.content {
  width: 100%;
  padding: 0 10% 0 10%;
  align-content: center;
}

/*--- HEADER ---*/
header {
  height: 18%;
  padding-bottom: 8%;
}
header .logo {
  width: 40%;
}

/*--- MAIN ---*/
main {
  height: auto;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 20%;
}
.mainImg {
  padding-bottom: 18%;
}
main h1 {
  font-weight: 600;
  font-size: 1.2em;
  padding-bottom: 5%;
}
main p{
  font-weight: 400;
  font-size: 0.75em;
  padding-bottom: 10%;
}

/*--- BOTÃO ---*/
.btmReg {
  background-color: #fff;
  width: 70%;
  height: 32px;
  border-style: none;
  border-radius: 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  font-size: 0.7em;
  font-family: 'Open Sans', sans-serif;
  color: hsl(257, 40%, 49%);
  transition: 0.5s;
}
.btmReg:hover {
  background-color: hsl(300, 69%, 71%);
  color: #fff;
  transition: 0.5s;
}

/*--- SOCIAL MEDIA ---*/
.social-media {
height: auto;
display: grid;
grid-template-columns: 30px 30px 30px;
grid-template-rows: 30px;
grid-gap: 5%;
justify-content: center;
margin-bottom: 20%;
}
.social-media img {
  opacity: 0.6;
  transition: 1s;
}
.social-media img:hover {
  opacity: 1;
  transition: 1s;
}

/*--- FOOTER ---*/
footer {
  height: auto;
  font-size: 0.7em;
  justify-items: center;
  text-align: center;
  padding-bottom: 10%;
}